#colorContent {
  color: #ffffff;
}

#blackContent {
  color: #1b1c3e;
}

#background {
  background-color: #1b1c3e;
}

.tableMSP {
  height: 80px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  boder: 1px solid blue;
}

.tableMSP .tableAbove {
  height: 50%;
}

.tableMSP .tableAbove p {
  font-size: 10px;
  margin-left: 7px;
}

.tableMSP .tableUnder {
  border-box: content-box;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  height: 50%;
}

.tableMSP .tableUnder .value {
  font-size: 13px;
  width: auto;
  margin-bottom: 4px;
  margin-left: 7px;
  margin-right: 3px;
}

.tableMSP .tableUnder p {
  width: auto;
  margin-bottom: 8px;
}

.nav-link ul {
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style: none;
}

.nav-link ul .icon-format {
  background-color: #6434b6;
  border-radius: 50%;
  height: 70px;
  width: 70px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 5px;
}

.nav-link ul .icon-format i {
  color: #ffff;
  margin: auto;
  margin-top: 25%;
}

.menu-format {
  color: #ffffff;
}

.menu-format ul {
  list-style: none;
}

.teachnique {
  color: #ffffff;
}

.table-1-2 {
  padding: 15px;
  margin: 0 -16px;
  border-bottom: 1px solid;
}

.table-1-2 .above-table {
  height: 50%;
}

.table-1-2 .above-table h6 {
  font-size: 10px;
}

.table-1-2 .above-table .time {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.table-1-2 .above-table .time h5 {
  font-size: 12px;
}

.table-1-2 .above-table .time h6 {
  margin-top: 1px;
  margin-left: 5px;
}

.table-1-2 .under-table {
  padding: 10px 0;
  height: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.table-1-2 .under-table h3 {
  font-size: 40px;
  color: green;
}

.table-1-2 .under-table p {
  font-size: 10px;
  margin-top: 26px;
  margin-left: 3px;
}

.table-left {
  padding-top: 5px;
  padding-left: 5px;
}

.table-left h5 {
  font-size: 15px;
}

.table-left h4 {
  font-size: 18px;
}

.table-3 {
  border: 1px solid;
  margin-top: 20px;
}

.itemMSP {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px 0;
}

.itemMSP p {
  font-size: 12px;
}

.basic-1 {
  background-color: #131e2a;
  padding: 10px;
}

.basic-1 .basic-2 {
  background-color: #222f41;
  padding-bottom: 3px;
}

.basic-1 .basic-2 h3 {
  margin-left: 20px;
}

.basic-1 .basic-2 .table-basic {
  padding: 0 3px;
}

.basic-1 .basic-2 .table-basic .table {
  background-color: #131e2a;
  padding: 30px 30px 15px 30px;
}

.basic-1 .basic-2 .table-basic .table .item-table {
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 20px;
  border-bottom: 1px dotted;
}

.basic-1 .basic-2 .table-basic .table .item-table h6 {
  margin-left: 10px;
}

.basic-1 .basic-2 .table-basic .table .item-table p {
  margin-right: 10px;
}

.basic-1 .basic-2 .table-basic .table .btn-format button {
  padding: 10px 20px;
  background-color: #FFFFFF;
  border: 5px solid #6434b6;
  border-radius: 5px;
  margin-right: 10px;
  font-size: 20px;
}

.basic-1 .basic-2 .table-basic .table .btn-format button:visited {
  color: #fff;
  background-color: #6434b6;
}

.basic-1 .basic-2 .table-basic .table .btn-format button:focus {
  color: #fff;
  background-color: #6434b6;
}

.basic-1 .basic-2 .table-basic .table .chart-format {
  top: 10px;
  position: relative;
  height: 400px;
  width: 800px;
  background-color: #FFFFFF;
}

.basic-1 .basic-2 .table-basic .table .chart-format .chart-1 {
  width: 800px;
  position: absolute;
  top: 30px;
  display: none;
  left: 100px;
}

.basic-1 .basic-2 .table-basic .table .chart-format .chart-2 {
  top: 30px;
  left: 100px;
}

.basic-1 .basic-2 .table-basic .table .chart-format .chart-3 {
  display: none;
  left: 100px;
}

.basic-1 .basic-2 .table-chart {
  padding: 30px 0;
  background-color: #131e2a;
  width: 514px;
  margin-left: 3px;
}
/*# sourceMappingURL=style.css.map */